@import "tailwindcss";

@theme {
  --color-background: hsl(0 0% 13%);
  --color-background-light: hsl(0 0% 19%);
  --color-foreground: hsl(0 0% 87%);
  --color-primary: hsl(140 100% 47%);
  --color-primary-foreground: hsl(0 0% 13%);
  --color-secondary: hsl(193 100% 47%);
  --color-secondary-foreground: hsl(0 0% 13%);
  --color-muted: hsl(0 0% 14.9%);
  --color-muted-foreground: hsl(0 0% 71%);
  --color-accent: hsl(0 0% 14.9%);
  --color-accent-foreground: hsl(0 0% 98%);
  --color-border: hsl(0 0% 24%);

  --spacing-section: 160px;
  --spacing-112\.5: 450px;
  --spacing-132\.5: 530px;
  --spacing-136: 544px;

  --font-family-anton: var(--font-anton);
  --font-family-roboto-flex: var(--font-roboto-flex);

  --radius: 0.5rem;
}

@layer base {
  :root {
    --background: 0 0% 13%;
    --background-light: 0 0% 19%;
    --foreground: 0 0% 87%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 140 100% 47%;
    --primary-foreground: 0 0% 13%;
    --secondary: 193 100% 47%;
    --secondary-foreground: 0 0% 13%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 71%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 24%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --radius: 0.5rem;
  }
}

@layer base {
  ::-webkit-scrollbar {
    display: none;
  }

  * {
    border-color: hsl(var(--border));
  }

  html,
  body {
    cursor: none !important;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-family: var(--font-roboto-flex);
  }
}

@layer components {
  .container {
    width: 100%;
    max-width: 1148px;
    margin-inline: auto;
    padding-inline: 1rem;
  }

  .grid {
    gap: 25px;
  }

  .pb-section {
    padding-bottom: 10rem;
  }

  @media (min-width: 768px) {
    .pb-section {
      padding-bottom: 160px;
    }
  }

  .py-section {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  @media (min-width: 768px) {
    .py-section {
      padding-top: 160px;
      padding-bottom: 160px;
    }
  }
}
